# =========================
# Node.js-Specific Ignores
# =========================

# Build directory
public/
build/

# Gatsby cache
.cache/

# Logs
logs
*.log

# Dependency directories
node_modules/

